.app-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 10px;
  }

.main-content {
    display: flex;
    flex-grow: 1;
    padding: 10px 30px;
}

.editor-section, .preview-section {
    flex: 1;
    margin: 10px;
}

.editor-section {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.editor-section h3 {
    color: #2c3e50;
    font-size: 22px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2c3e50;
}
.form-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    gap: 20px;
}
/* Responsive layout for smaller devices */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
    /* .form-fields {
        display: flex;
    } */
}