@import 'normalize.css';

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}